body {
    background-color: black;
}


.container {
    max-width: 1240px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Avenir LT Light';
    src: url('../fonts/AvenirLT-Light.eot');
    src: url('../fonts/AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLT-Light.woff') format('woff'),
    url('../fonts/AvenirLT-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/mission';
@import 'blocks/idscanner';
@import 'blocks/bitool';
@import 'blocks/qrcode';
@import 'blocks/generate';
@import 'blocks/ordering';
@import 'blocks/banner';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/media';

