body {
    background-color: black;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/mission';
@import 'blocks/idscanner';
@import 'blocks/bitool';
@import 'blocks/qrcode';
@import 'blocks/generate';