.bitool {
    min-height: 740px;
    .container {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;

    }
   &__description {
    color: #ffffff;
    max-width: 530px;
    max-height: 288px;
    margin-top: 88px;
    padding-left: 11px;
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 51px;
        line-height: 62px;
    }
    p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        max-width: 395px;
    }}
    &__view {
        width: 703.13px;
        height: 522.21px;
        background: url(../../image/bi_tool_items.svg);
        margin-right: 7.79px;
    }
}