.form {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 1487px;

    &__wrapper {
        margin: 0 auto;
        max-width: 818px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 818px;
        justify-content: space-between;
        input {
            width: 397px;
            &:invalid {
                border: 2px solid #FF0000;
            }
        }
    }
    &__rectangle1 {
        position: absolute;
        width: 247px;
        height: 245px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.3;
        filter: blur(250px);
        transform: rotate(5.78deg);
        z-index: 1;
        bottom: 25px;
    
    }
    &__text {
        position: relative;
        color: #ffffff;
        text-align: center;
        h2 {
            position: relative;
            margin: 13px 0 0 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 51px;
            line-height: 62px;
            z-index: 2;
        }
        p {
            position: relative;
            margin: 23px auto 0 auto;
            max-width: 582px;
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            z-index: 2;
        }
    }
    
    &__feed {
        padding-top: 82px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 818px;
        input {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            padding-left: 23px;
            height: 83px;
            background: #FFFFFF;
            border: 1px solid #5C5C5C;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 23px;
            &:invalid {
                border: 2px solid #FF0000;
            }
            

        }
        textarea {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            padding-left: 23px;
            padding-top: 26px;
            height: 199px;
            background: #FFFFFF;
            border: 1px solid #5C5C5C;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 60px;
            resize: none;
            &:invalid {
                border: 2px solid #FF0000;
            }
            

        }
        
        button {
            color: #fff;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin: 0 auto;
            width: 398px;
            height: 80px;
            background: #000000;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 10px;
            &:hover {
                background:rgb(89, 152, 247) ;
            }
        }
    }

}