.mission {
    margin: 0 auto;
    min-height: 1400px;
    &__contact_us {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 61px;
        max-width: 1087px;
        min-height: 312px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        color: #ffffff;
    }
    &__item {
        position: relative;
        width: 503px;
        height: 312px;
        border-radius: 21.3671px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        &_text {
            position: absolute;
            top: 0;
            right: 0;
            bottom:0;
            left:0;
            margin: auto;
            overflow: auto;
            width: 375px;
            height: 186px;
        
            
            a {
                font-weight: normal;
                font-size: 24px;
                line-height: 33px;
                text-decoration-line: underline;
                color:#ffffff;
                &:hover {
                    color: #9e9ef3;
                }
            }
        }
        }
    
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 246px;
        margin-bottom: 283px;
        display: flex;
        flex-wrap:wrap-reverse;
        
    }
    &__app {
        width: 919.06px;
        height: 498px;
        background: url(../../image/our_mission.svg) center;
    }
    &__description {
        color: #ffffff;
        max-width:  358px;
        padding-bottom: 163px;
        h2 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 51px;
            line-height: 62px;          
        }
        p {
            margin-top: 23px;
            max-width: 315px;
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }
    }
}