.promo {
    min-height: 1070px;
    padding: 23px 0 0 0;
   	&__wrapper {
		margin-top: 18px;
		min-height: 667.8px;
        display: flex;
        justify-content: space-between;
        
    }

    &__description {
		position: relative;
        max-width: 644px;
        min-height: 669px;
        color: #FFFFFF;
        
    }
		
	
	&__ellipse {
		position: absolute;
		left: -100px;
		top: 250px;
		z-index: -1;
	}
    &__header {
		margin-top: 125px;
		margin-bottom: 0;
    	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		line-height: 70px;
    }

	&__subheader_line {
		display: inline-block;
		position: absolute;
		width: 139.43px;
		height: 0px;
		right: 537px;
		top: 423px;
		border: 4px solid #FFFFFF;
		transform: rotate(120.61deg);
	}

	&__subheader {
		margin-top: 129px;
		margin-left: 105px;
		margin-bottom: 0;
		max-width: 380px;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 27px;
	}

	&__app {
		width: 332.88px;
		height: 667.8px;
		background: url(../../image/scrt_1.svg);
		margin-right: 83.12px;
	}

	&__download {
		margin: 83.2px 0 24.67px 0;
		max-width: 1240px;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		align-items:center;
		color: #FFFFFF;
		&_text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 35px;
			line-height: 70px;
		}
	}	
	&__links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 376px;
		margin-right: 62px;
		}
}
