@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 100%;
    }
    .header {
        padding: 0 15px;

        &__logo {
            width: 102px;
            height: 62px;
        }

        &__login { 
            font-size: 14px;
            line-height: 19px;
            img {
                display: none;
            }
        }
    }

    .promo {
        min-height: 0px;
        &__header {
            font-size: 35px;
            line-height: 40px;
            
            margin-top: 33px;
        }

        &__app {
            width: 105px;
            height: 322px;
            margin-left: 0px;
            background-size: cover;
        }
        &__subheader_line {
            display: none;
        }

        &__wrapper {
            margin-top: 72px;
            justify-content: space-between;
        }

        &__description {
            max-width: 260px;
            padding-left: 15px;
            min-height: 0px;
        }

        &__subheader {
            margin: 24px 0 0 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
        }

        &__download {
            max-width: 283px;
            margin: 55.02px auto 0 auto;
        }

        &__download_text {
            font-size: 24px;
            line-height: 29px;
        }

        &__links {
            flex-direction: column;
            width: 185px;
            margin: 34px auto 0 auto;
        }

        &__store {
            height: 60px;
            width: 185px;
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }

        &__ellipse {
            width: 74px;
            height: 74px;
            top: 160px;
            left: -4px;
        }

        &__vector {
            width: 363.95px;
            height: 298.16px;
            transform: rotate(-90.69deg);
            top: -80.39px;
            right: 0px;
            filter: blur(100px);
        }
    }
    .mission {
        .two {
            width: 345px;
            height: 167px;
        }
        min-height: 0;
        &__contact_us {
            justify-content: center;
        }
        &__item {
            width: 345px;
            height: 233px;
            margin-bottom: 30px;
            
            &_text {
                font-size: 24px;
                line-height: 33px;
                padding-left: 33px;
                padding-top: 10px;
                width: 341px;
                a {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }

        &__content {
            margin-top: 80px;
            margin-bottom: 190px;
        }

        &__description {
            margin-left: 15px;
            padding-bottom: 0px;
            h2 {
                font-size: 24px;
                line-height: 29px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__ellipse {
            width: 85px;
            height: 85px;
            top: -30px;
            left: -9px;
        }

        &__app {
            margin: 163px auto 0 auto;
            width: 172.53px;
            height: 346.12px;
            background:url(../../image/app_mission_mobilev.svg) center;
        }
    }
    .idscanner {
        min-height: 0px;
        background-size: 120%;

        &__content {
            padding-top: 227px;
        }
        &__description {
            margin: 0 0 0 15px;
            max-width: 345px;
            padding-bottom: 70.1px;
            h2 {
                font-size: 24px;
                line-height: 29px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__screenshot {
            justify-content: center;
        }

        &__app {
            width: 287.08px;
            height: 575.93px;
            img {
                height: 100%;
            }
        }
    }
    .bitool {
        min-height: 0;
        &__description {
            margin: 89px 0 0 15px;
            padding-left: 0px;
            h2 {
                font-size: 24px;
                line-height: 29px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 30px;

            }
        }
        &__view {
            width: 373px;
            height: 246.18px;
            background: url(../../image/bi_tool_items_mobile.png) center ;
            margin-bottom: 34.83px;
            margin-right: 0px;
        }
    }
    .qrcode {
        min-height: 0px;
        &__description {
            min-height: 0;
            &_content {
                padding-top: 227px;
                h2 {
                    padding-left: 15px;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 24px;
                }
                p {
                    padding-left: 15px;
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0 0 50px 0;
                }
            }

        }

        &__links {
            flex-direction: column;
            align-content: center;
            margin-bottom: 10px;
            width: 375px;
        }
        &__store {
            height: 60px;
            width: 185px;
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }
        &__nightlike {
            background-position: top left 65px;
            min-height: 297px;
            img {
                top: 114px;
                left: 33px;
                object-fit: cover;
                width: 88.46px;
                height: 34.62px;
                transform: rotate(-12.84deg);
            }
        }
        &__content {
            justify-content: center;
            position: relative;
            top: -91px;
            img {
                width: 280.98px;
                height: 563.68px;
            }
        }
        &__app {
            position: static;
            width: 280.98px;
            height: 563.68px;
            margin-bottom: 50px;
        }
        &__app2 {
            position: static;
            width: 280.98px;
            height: 563.68px;
            margin-bottom: 130.9px;
        }
    }
    .generate {
        background-position: center 322px;
        background-size: 375px 122.33px;
        min-height: 0px;
        margin-bottom: 201.71px;
       .container {
           flex-direction: column-reverse;
       }
       &__description {
           margin: 0px;
           flex-wrap: wrap;
           padding-left: 15px;
       }
       &__h2 {
        font-size: 24px;
        line-height: 29px;
       }

       &__p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
       }

       &__wrapper {
           margin-top: 70.01px;
           max-width: 375px;
           justify-content: center;
           min-height: 0px;
       }
       &__app {
        width: 181.58px;
        height: 364.29px;
        img {
            width: 100%;
        }
       }

       &__rectangle {
            width: 309.08px;
            height: 288.18px;
            filter: blur(40.3565px)

       }

       &__item {
           margin: 0px;
           img {
                position: absolute;
                height: 60.48px;
                transform: rotate(37deg);
                top: 320px;
                right: 25px;
            
           }

           p{
            position: absolute;
            font-size: 18px;
            line-height: 22px;
            width: 133px;
            height: 22px;
            margin: 0px;
            top: 400px;
            right: 33px;
           }
       }
    }
    .ordering {
        min-height: 0px;
        max-width: 100%;
        
        &__text {
            margin-left: 15px;
            margin-right: 0px;
            h2 {
                width: 198px;
                font-size: 24px;
                line-height: 29px;
            }
            p {
                margin-top: 24px;
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__wrapper {
            margin-top: 74px;
            height: 553px;
            font-size: 14px;
            line-height: 16px;
            background-size: 360px 430px ;
            background-position: -7px 71px;
        }

        &__item1 {
            align-self: flex-start;
            width: 165px;
            height: 57px;
            margin: 0 0 0 39px;
            border-radius: 10px;
            p{
                margin: 13px auto 0 auto;
                width: 136px;
                
            }
        }
        &__item2 {
            width: 171px;
            height: 62px;
            border-radius: 10px;
            margin: 32px 0 0 189px;
            p{
                margin: 15px auto 0 auto;
                width: 136px;
                
            }

        }
        &__item3 {
            width: 122px;
            height: 58px;
            border-radius: 10px;
            order: 1;
            margin: auto 15px 0 0;
            p {
                width: 85px;
                margin: 13px auto 0 auto;
                
            }

        }
        &__item4 {
            width: 107px;
            height: 43px;
            border-radius: 10px;
            margin: 260px 0 0 30px;
            p {
                width: 77px;
                margin: 14px auto 0 auto;

            }
        }
        &__rectangle {
            width: 111px;
            height: 267px;
            top: 139px;
            right: 14px;
        }
    } 
    .form {
        min-height: 0px;
        margin: 95px auto 0 auto;
        &__text {
            h2 {
                font-size: 24px;
                line-height: 29px;
                margin: 0 0 24px 0;
            }
            p {
                font-size: 16px;
                line-height: 22px;
                width: 323px;
                br {
                    display: none;
                  }
            }
        }
        &__feed {
            margin: 49px 15px 0 15px;
            padding-top: 0px;
            input {
                max-width: 100%;
                height: 57px;
                margin-bottom: 16px;
            }
            textarea {
                width: 100%;
                height: 140px;
            }
            button {
                width: 100%;
            }

        }
        &__wrap {
            max-width: 100%;
        }

        &__rectangle2 {
            width: 96px;
            height: 341px;
            right: 20px;
            z-index: 1;
            opacity: .7;
        }
        &__rectangle1 {
            bottom: -100px;
            left: -90px;
            z-index: -1;
        }

        &__download {
            margin-top: 74px;
            position: relative;
            z-index: 2;
        }
        &__links {
            flex-direction: column;
            align-content: center;
            margin-top: 45px;
            width: 375px;
        }
        &__store {
            height: 60px;
            width: 185px;
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }
    }
    .footer {
        margin-top: 40px;
        &__wrapper {
            margin: 0 auto;
            max-width: 210px;
            text-align: center;
            justify-content: center;
        }
        &__contact {
            padding-top: 0px;
            margin-top: 44px;
            img {
                width: 70.99px;
                height: 14.16px;
            }
            h3 {
                
                margin-top: 16.84px;
                margin-bottom: 9px;
                font-size: 14px;
                line-height: 19px;
                br {
                    display: none;
                }
            }
            a {
               
                font-size: 14px;
                line-height: 19px;
            }
            p {
                margin: 0 0 24px 0;
            }
        }
        &__terms {
            a {
                margin-bottom:14px;
            }
        }
        &__rectangle {
            width: 224px;
            height: 190px;
            top: 40px;
            left: -99px;
            filter: blur(138.347px);
            opacity: 0.7;
        }
   }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .banner {
        display: none;
    }
}

